*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin: 0;
}

.page-actions-cont {
    height: 3rem;
    background-color: #216c74;
    display: flex;
    align-items: flex-end;
}
.page-action{
    margin: 1rem;
    color: #f1f2f6;
}




.cellprops-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;   
}
.cellprops-actions-cont > *{
    display: inline-block;
    margin-right: 1rem;
}
.cellprops-actions-cont > select{
    border: none;
    border-radius: 2px;
    outline: none;
}
.font-family-prop {
    padding: 0.2rem;
}
.font-size-prop{
    padding:0.2rem;
}




.formula-actions-cont{
    height: 3rem;
    background-color: lightblue;
    padding-left: 1rem;
    display: flex;
    align-items: center;

}
.formula-actions-cont > * {
    display: inline-block;
    margin-right: 0rem;
}
.formula-icon{
    width: 1.3rem;
}
.address-bar{
    width: 5rem;
}
.formula-bar{
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}
.formula-actions-cont > input {
    border: none;
    outline: none;
}




.sheet-actions-cont {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color: #ecf0f1;
}
.sheet-action-cont > * {
    display: inline-block;
}
.sheet.add-icon{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 2vw;
}
.sheets-folder-cont{
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc(100vw - 2vw);
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
}
.grid-cont{
    height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
}